In [1]:
from pathlib import Path
import pandas as pd

import funcoes

In [2]:
parcial_path_absolute = Path.home() / 'OneDrive' / 'Documentos' / 'GitHub'
parcial_path_relative = Path('analise_dados_crimes_seattle')
full_path = parcial_path_absolute / parcial_path_relative

absolute_path_data_raw = full_path / 'data' / 'raw'

path_data = absolute_path_data_raw / 'SPD_Crime_Data__2008-Present_20250311.csv'

Os dados representam atividades de resposta policial em Seattle.
Cada linha no conjunto de dados é um registro de um Call for Service (CfS), ou seja, uma chamada registrada pelo Centro de Comunicações da Polícia de Seattle (SPD).
As chamadas vêm da comunidade e podem ser desde emergências ativas até pedidos de resolução de problemas.
Os policiais também podem registrar chamadas com base em suas próprias observações no campo.

In [3]:
df = pd.read_csv(path_data, sep=',')
dff = df.copy() #preservando o bruto

In [4]:
dff = funcoes.colunas_lower(df)

Limpeza de dados

In [58]:
dff.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1438644 entries, 0 to 1438643
Data columns (total 19 columns):
 #   Column                          Non-Null Count    Dtype
---  ------                          --------------    -----
 0   report number                   1438644 non-null  object
 1   report datetime                 1438644 non-null  datetime64[ns]
 2   offense id                      1438644 non-null  int64
 3   offense date                    1438644 non-null  object
 4   nibrs group ab                  1438644 non-null  object
 5   nibrs crime against category    1438644 non-null  object
 6   offense sub category            1438644 non-null  object
 7   shooting type group             1438644 non-null  object
 8   block address                   0 non-null        float64
 9   latitude                        0 non-null        float64
 10  longitude                       0 non-null        float64
 11  beat                            1438644 non-null  object
 12  precinct                        1438644 non-null  object
 13  sector                          1438644 non-null  object
 14  neighborhood                    1438644 non-null  object
 15  reporting area                  0 non-null        float64
 16  offense category                1438644 non-null  object
 17  nibrs offense code description  1438644 non-null  object
 18  nibrs_offense_code              1438644 non-null  object
dtypes: datetime64[ns](1), float64(4), int64(1), object(13)
memory usage: 208.5+ MB

In [13]:
dff.head(3)

,report number,report datetime,offense id,offense date,nibrs group ab,nibrs crime against category,offense sub category,shooting type group,block address,latitude,longitude,beat,precinct,sector,neighborhood,reporting area,offense category,nibrs offense code description,nibrs_offense_code
0,2014-331666,10/04/2014 12:26:00 AM,7685336839,10/04/2014 12:26:00 AM,A,PERSON,ASSAULT OFFENSES,-,NaN,NaN,NaN,N3,North,N,-,NaN,ALL OTHER,Simple Assault,13B
1,2009-095116,03/20/2009 01:58:00 AM,7665902657,03/20/2009 12:50:00 AM,A,PROPERTY,LARCENY-THEFT,-,NaN,NaN,NaN,J2,North,J,-,NaN,PROPERTY CRIME,Theft From Motor Vehicle,23F
2,2014-272495,08/16/2014 09:08:00 PM,7655103418,08/16/2014 02:00:00 PM,A,PROPERTY,MOTOR VEHICLE THEFT,-,NaN,NaN,NaN,K3,West,K,-,NaN,PROPERTY CRIME,Motor Vehicle Theft,240

In [28]:
dff.columns

Index(['report number', 'report datetime', 'offense id', 'offense date',
       'nibrs group ab', 'nibrs crime against category',
       'offense sub category', 'shooting type group', 'block address',
       'latitude', 'longitude', 'beat', 'precinct', 'sector', 'neighborhood',
       'reporting area', 'offense category', 'nibrs offense code description',
       'nibrs_offense_code'],
      dtype='object')

In [ ]:
# 'report datetime'
dff['report datetime'] = funcoes.transformando_colunas_em_datetime(dff, 'report datetime')

# 'offense date
dff['offense date'] = funcoes.transformando_colunas_em_datetime(dff, 'offense date')

c:\Users\tales\OneDrive\Documentos\GitHub\analise_dados_crimes_seattle\src\funcoes\__init__.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  return pd.to_datetime(data_frame_target[coluna_target])

In [66]:
dff['nibrs crime against category'].value_counts()

nibrs crime against category
PROPERTY       886304
PERSON         204096
ANY            187796
SOCIETY        120544
NOT_A_CRIME     39904
Name: count, dtype: int64

In [69]:
dff = dff[dff['nibrs crime against category']!='NOT_A_CRIME']

In [70]:
dff[dff['nibrs crime against category']=='ANY']

,report number,report datetime,offense id,offense date,nibrs group ab,nibrs crime against category,offense sub category,shooting type group,block address,latitude,longitude,beat,precinct,sector,neighborhood,reporting area,offense category,nibrs offense code description,nibrs_offense_code
13,2010-115671,2010-04-09 21:56:00,7628354150,2010-04-09 21:56:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K2,West,K,-,NaN,ALL OTHER,All Other Offenses,90Z
18,2018-429010,2018-11-15 22:49:00,7627828082,2018-11-15 22:49:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K1,West,K,DOWNTOWN COMMERCIAL,NaN,ALL OTHER,All Other Offenses,90Z
25,2011-397874,2011-12-11 20:55:00,7681733025,2011-12-11 20:55:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K3,West,K,-,NaN,ALL OTHER,All Other Offenses,90Z
33,2009-036234,2009-01-30 05:08:00,7652094211,2009-01-30 05:08:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,F2,Southwest,F,-,NaN,ALL OTHER,All Other Offenses,90Z
55,2009-054094,2009-02-13 14:30:00,7656048197,2009-02-13 14:30:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,B1,North,B,-,NaN,ALL OTHER,All Other Offenses,90Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438608,2020-139048,2020-04-26 21:00:18,13082055644,2020-04-26 17:53:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,Q2,West,Q,QUEEN ANNE,NaN,ALL OTHER,All Other Offenses,90Z
1438614,2016-027975,2016-01-24 06:05:00,7630504753,2016-01-24 06:05:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,D3,West,D,-,NaN,ALL OTHER,All Other Offenses,90Z
1438621,2010-122838,2010-04-15 20:57:00,7636532189,2010-04-15 20:57:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K3,West,K,-,NaN,ALL OTHER,All Other Offenses,90Z
1438623,2017-078748,2017-03-04 22:29:00,7650380894,2017-03-04 22:29:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,D1,West,D,BELLTOWN,NaN,ALL OTHER,All Other Offenses,90Z
1438640,2010-030807,2010-01-27 15:29:00,7682095613,2010-01-27 15:29:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,S1,South,S,-,NaN,ALL OTHER,All Other Offenses,90Z

In [73]:
dff[dff['offense sub category']=='ALL OTHER']

,report number,report datetime,offense id,offense date,nibrs group ab,nibrs crime against category,offense sub category,shooting type group,block address,latitude,longitude,beat,precinct,sector,neighborhood,reporting area,offense category,nibrs offense code description,nibrs_offense_code
13,2010-115671,2010-04-09 21:56:00,7628354150,2010-04-09 21:56:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K2,West,K,-,NaN,ALL OTHER,All Other Offenses,90Z
18,2018-429010,2018-11-15 22:49:00,7627828082,2018-11-15 22:49:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K1,West,K,DOWNTOWN COMMERCIAL,NaN,ALL OTHER,All Other Offenses,90Z
25,2011-397874,2011-12-11 20:55:00,7681733025,2011-12-11 20:55:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K3,West,K,-,NaN,ALL OTHER,All Other Offenses,90Z
33,2009-036234,2009-01-30 05:08:00,7652094211,2009-01-30 05:08:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,F2,Southwest,F,-,NaN,ALL OTHER,All Other Offenses,90Z
55,2009-054094,2009-02-13 14:30:00,7656048197,2009-02-13 14:30:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,B1,North,B,-,NaN,ALL OTHER,All Other Offenses,90Z
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1438608,2020-139048,2020-04-26 21:00:18,13082055644,2020-04-26 17:53:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,Q2,West,Q,QUEEN ANNE,NaN,ALL OTHER,All Other Offenses,90Z
1438614,2016-027975,2016-01-24 06:05:00,7630504753,2016-01-24 06:05:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,D3,West,D,-,NaN,ALL OTHER,All Other Offenses,90Z
1438621,2010-122838,2010-04-15 20:57:00,7636532189,2010-04-15 20:57:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,K3,West,K,-,NaN,ALL OTHER,All Other Offenses,90Z
1438623,2017-078748,2017-03-04 22:29:00,7650380894,2017-03-04 22:29:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,D1,West,D,BELLTOWN,NaN,ALL OTHER,All Other Offenses,90Z
1438640,2010-030807,2010-01-27 15:29:00,7682095613,2010-01-27 15:29:00,B,ANY,ALL OTHER,-,NaN,NaN,NaN,S1,South,S,-,NaN,ALL OTHER,All Other Offenses,90Z